{% extends 'base/base.html' %}

{% block title %}{{code}}{% endblock %}

{% block body %}

<style>
    .title{
        margin-bottom: 20px;
    }

    .centerdiv{
        background-color: white; 
        max-width: 1200px; 
        margin: 0 auto; 
        min-height: 500px;
        padding:40px;
        min-height: 100vh;
        -moz-box-shadow: 0 0 5px #ccc;
        -webkit-box-shadow: 0 0 5px #ccc;
        box-shadow: 0 0 5px #ccc;
    }

    .header{
        text-align: center;
        margin-bottom: 25px;
    }

    .feedback_container{
        width: 85%;
        margin: 0 auto; 
        min-height: 150px;
        -moz-box-shadow: 0 0 5px #ccc;
        -webkit-box-shadow: 0 0 5px #ccc;
        box-shadow: 0 0 5px #ccc;
        border-radius: 10px;
        padding:15px;
        margin-top: 50px;
    }

    .user_div{
        min-height:60px;
        margin-left: 10px;
        margin-bottom: 15px;
    }

    .user_circle{
        background-color: blue; 
        width:50px; 
        height:50px; 
        border-radius: 25px; 
        text-align: center; 
        color:white;
        font-size: 25px;
        padding-top: 3px;
        float:left;
    }

    .user_info{
        float:left;
        padding-left: 20px;
    }

    .username{
        font-weight: bold;
        float: up;
    }

    .feedback_text{
        margin-left: 150px;
    }

    .feedback_options{
        float: right;
    }

    .dropdown{
        cursor: pointer;
    }

    a:link{
        text-decoration: none;
    }

    .request_button{
        font-size: 30px;
        color: white;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: var(--main_color);
        border-radius: 10px;
    }

    .votes{
        cursor: pointer;
        margin-top: 10px;
        font-size:20px; 
        width:60px; 
        margin-right: 20px; 
        float:left; 
        text-align: center; 
        display: table-cell; 
        vertical-align: middle;
        color:black;
    }

    .num_votes{
        font-size: 16px;
        font-weight: bold;
    }

    .addFeedbackForm{
        width: 85%;
        margin: 0 auto; 

        margin-top: 40px;
    }
</style>

<div class="centerdiv">

<div class="header">
{% if course|length > 0 %}
    {% for a in course %}
        
        <h1 class="title">{{a.icon.html | safe}} &nbsp {{a.course_code}}</h1>
        <h2 class="course_name">{{a.course_name}}</h2>
        
    {% endfor %}
{% else %}
    <h1 class="title"><i class="fa-solid fa-question"></i> '{{code}}'</h1>
    <h2>Course Not Found</h2>

    <a href="/request"><button class="request_button" style="margin-top: 50px;"><h3>Request this course</h3></button></a>
{% endif %}
</div>

<div class="addFeedbackForm">
    </br>
    {% if not permission %}
    In order to post feedback, you need to obtain permission by providing evidence of enrollment. <a href="/requestpermission">Click here</a>
    {% endif %}

    </br></br>
    
    <label for="feedbacktext"><h4>Provide <span style="color:var(--main_color)">Feedback</span></h4></label>
    <textarea {% if not permission %}disabled{% endif %} class="form-control" id="feedbacktext" rows="3" style="margin-bottom: 15px;"></textarea>

    <input {% if not permission %}disabled{% endif %} class="form-check-input" type="checkbox" value="" id="anonymouscheck">
    <label class="form-check-label" for="anonymouscheck">
        Anonymous
    </label>

    </br>

    <div style="text-align: center;">
        <button {% if not permission %}disabled{% endif %} id="SubmitFeedbackButton" type="submit" class="btn btn-primary" style="background-color:var(--main_color); border-color: var(--main_color);">Submit</button>
    </div>
</div>

<script>
    $("#SubmitFeedbackButton").click(function () {
        $.ajax({
        url: '/submitfeedback?course={{course.0.course_code}}',
        data: { 'feedbacktext': document.getElementById("feedbacktext").value, 
                'anonymous': document.getElementById("anonymouscheck").checked,
                'csrfmiddlewaretoken': '{{ csrf_token }}' 
        },
        type: 'post',
        cache: false,
        success: function (data) {
            
            //Erase text from textbox 
            document.getElementById("feedbacktext").value = '';

            //Show the posted feedback on the screen
            $.get( "/renderfeedback", function( data ) {
                $(".addFeedbackForm").after(data);
            });
        }
        });
    });
</script>

{% if course|length > 0 %}
{% for feedback in feedbacks %}
<div class="feedback_container" id="feedback_container{{feedback.id}}">
    <div class="votes">
        <a id="upvote{{feedback.id}}" style="color:{% if feedback.id in uservotes %}blue{% endif %};"><i class="fas fa-chevron-circle-up"></i></a>
        </br>
        <span class="num_votes" id="score{{feedback.id}}">{{feedback.score}}</span>
        </br>
        <a><i class="fas fa-chevron-circle-down"></i></a>
    </div>
    <div class="user_div">
        <div class="user_circle">
            <i class="fa-solid fa-user"></i>
        </div>
        <div class="user_info">
            <div class="username">
                {% if feedback.anonymous %}
                    Anonymous
                {% else %}
                    <a href="/user?name={{feedback.user}}">{{feedback.user}}</a>
                {% endif %}
            </div>
            <div class="date">
                {{feedback.date}}
            </div>
        </div>
        <div class="feedback_options">
            <div class="dropdown">
                <a data-bs-toggle="dropdown"><i class="fa-solid fa-chevron-down"></i></a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/user?name={{feedback.user}}">View User</a>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Report Feedback</a>
                    {% if feedback.user.username == user.get_username or user.is_superuser %}
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal{{feedback.id}}">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="feedback_text">
        {{feedback.text}}
    </div>
</div>

<!-- Report Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Report Feedback</h5>
        </div>
        <div class="modal-body">
            <h6>Reason:</h6>
            <form>
                <textarea style="width:100%; height: 100px; resize: none;"></textarea>
            </form>
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Submit</button>
        </div>
    </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal{{feedback.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deleteModalTitle">Delete Feedback</h5>
        </div>
        <div class="modal-body">
            <h6>Once deleted, it cannot be recovered</h6>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" id="delete{{feedback.id}}" class="btn btn-danger">Delete</button>
        </div>
    </div>
    </div>
</div>

<script>
    $("#delete{{feedback.id}}").click(function () {
        $.ajax({
            url: '/deletefeedback',
            data: { 'id': '{{feedback.id}}' },
            type: 'get',
            cache: false,
            success: function (data) {
                $("#feedback_container{{feedback.id}}").remove();

                $("#deleteModal{{feedback.id}}").modal('hide');
            }
        });
    });
    
    $(function () {
        $("#upvote{{feedback.id}}").click(function () {
            $.ajax({
            url: '/vote',
            data: { 'id': '{{feedback.id}}' },
            type: 'get',
            cache: false,
            success: function (data) {
                
                if($("#upvote{{feedback.id}}").css("color") == 'rgb(0, 0, 0)'){
                    $("#upvote{{feedback.id}}").css("color", "blue");
                    $("#score{{feedback.id}}").text(parseInt($("#score{{feedback.id}}").text()) + 1);
                }
                else{
                    $("#upvote{{feedback.id}}").css("color", "black");
                    $("#score{{feedback.id}}").text(parseInt($("#score{{feedback.id}}").text()) - 1);
                }
                
            }
            });
        });
    });
</script>
{% endfor %}
{% endif %}

{% if feedbacks|length < 1 and course|length > 0 %}
<div style="text-align: center; margin-top: 80px;">
    <h3>No Feedback Found</h3>
</div>
{% endif %}

</div>

<button type="button" id="send">Post comment!</button>

<script>
    $(function () {
    $("#send").click(function () {
        $.ajax({
           url: '/vote',
           data: { 'id': '1' },
           type: 'get',
           cache: false,
           success: function (data) {
              //$(".comments").append(data);
              var upvote = document.getElementById("upvote");
           }
        });
    });
});
</script>

{% endblock %}
